@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    font-family: 'Montserrat', sans-serif;
    background-color: white; 
}


/* Common container styles */
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    text-align: center; 
}



/* Common image styles */
.center-container img {
    max-width: 100%; 
    max-height: 100vh; 
    height:auto;
    margin: auto;
    border: 1px solid #6078E0; 
    box-sizing: border-box; 
}
