.logo-container {
    position: relative; 
    text-align: center;
    max-width:100%; 
}

.logo-container img {
    width: 100%; 
    height: auto; 
   
}

.btn-container{
    position: absolute;
    bottom: 8%; 
    left: 50%;
    transform: translateX(-50%);
    width: 100%; 
    display: flex;
    align-items: center;

}


.btn-confirm{
    background-color: #6078E0;
    color: white;
    padding: 12px 90px;

    margin: 0 auto;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 28px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.btn-confirm:hover {
    background-color: #5068c0; 
}

.button:hover {
    opacity: 0.8; 
}


.image-container {
    position: relative;
    text-align: center;
}


.back-link {
    position: absolute;
    top: 60px; 
    left: 20px; 
    color: #6078E0; 
    text-decoration: none;
    font-size: 13px; 
    z-index: 10; 
}